input {
  -moz-appearance: textfield;
  outline: none;
  border: none;
  margin: 0;
}

input::placeholder {
  margin: 0;
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

::-webkit-scrollbar {
  width: 5px;
  height: 4px;
  /* display: none; */
}

::-webkit-scrollbar-thumb {
  height: 4px;
  width: 5px;
  background-color: var(--Neutral-200, #d8d9df);
  border-radius: 4px;
  /* display: none; */
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--Neutral-200, #d8d9df);
  /* display: none; */
}

::-webkit-scrollbar-track {
  background: transparent;
  height: 4px;
  width: 5px;
  cursor: pointer;
  /* display: none; */
}

p {
  margin: 0;
}

#ftu-root {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}



.startup-outter {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
  background: linear-gradient(180deg, #643fff 0%, #381ab7 100%);

}

.startup-outter-norm {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
  background: var(--common-white_states-main, #fff);
}

.startup {
  width: 650px;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: auto;
  padding-bottom: 20px;
  border: 1px solid #0F122E;
  border-radius: 10px;
  position: relative;
}

.loading-screen {
  border-radius: 10px;
  min-height: 100%;
  width: inherit;
  flex-shrink: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding-top: 25px; */
  overflow: auto;
  bottom: -10px;
  top: 0;
  position: absolute;
}


.startup-icon-container {
  width: 76.119%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-direction: column;
  height: 298px;
}

.startup-icon-shadow {
  position: absolute;
  bottom: 10px;
  right: 70px;
  width: 48.5%;
}

.startup-text-container {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  margin-right: 20px;
  margin-left: 20px;
}

.startup-text-header {
  color: var(--Neutral-White-100, var(--common-white_states-main, #fff));
  font-family: Manrope;
  font-size: 2.1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.8125rem;
  /* 140.625% */
  margin: 0;
}

.startup-text-footer {
  color: var(--Neutral-White-100, var(--common-white_states-main, #fff));
  font-family: Roboto;
  font-size: 0.9rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem;
  /* 171.429% */
  opacity: 0.8;
}

.ftu-startup-button {
  display: inline-flex;
  padding: 14px;
  justify-content: center;
  align-items: center;
  gap: var(--space-8px, 8px);
  border-radius: var(--space-8px, 8px);
  background: var(--primary-bitter-lemon-500, #cfe600);
  cursor: pointer;
  user-select: none;
  color: var(--Neutral-950, #0C0C0E);
  text-align: center;
  margin: 20px;

  /* Paragraph 01/P2 */
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  /* 24px */
  outline: none;
  border: none;
}



.startup-language {
  background: var(--common-white_states-main, #fff);
  height: 100%;
  width: 90%;

}

.startup-language-content-container {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  width: 100%;
}

.st-language-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  align-self: stretch;
  width: 100%;
}

.st-language-text {
  color: var(--Neutral-950, #0c0c0e);

  /* Heading/H2 */
  font-family: Roboto;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  /* 1.5rem */
  align-self: stretch;
}



.ms-search-content:hover {
  border-radius: var(--space-8px, 8px);
  border: 1px solid var(--secondary-electric-violet-300, #9da3ff);
  background: var(--secondary-electric-violet-50, #ecefff);
}

.st-contact-input {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 14px;
  width: 100%;
}

.st-contact-content-container {
  display: flex;
  align-items: flex-start;
  gap: var(--space-8px, 8px);
  width: 100%;
}

.st-contact-first-section {
  display: flex;
  width: 100px;
  height: 44px;
  padding-left: 6px;
  align-items: center;
  border-radius: var(--space-8px, 8px);
  background: var(--Neutral-50, #f7f7f8);
  cursor: pointer;
  user-select: none;
}

.st-contact-selection-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 24px;
  cursor: pointer;
  user-select: none;
  overflow: hidden;
  width: 28px;
  height: 28px;
}

.st-contact-selection-text {
  color: var(--Neutral-950, #0c0c0e);
  text-align: right;

  /* Paragraph 02/P2 */
  font-family: Roboto;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  /* 1.225rem */
  width: 40px;
  flex-shrink: 0;
  cursor: pointer;
  user-select: none;
}

.st-contact-dropdown {
  cursor: pointer;
  user-select: none;
}


.st-contact-footer-first-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
  width: 100%;
}

.st-contact-footer-second-section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  width: 100%;
}

.custom-blank-page {
  height: 0;
}

.st-contact-input-error {
  display: flex;
  align-items: center;
  gap: 4px;
}


.startup-otp-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  align-self: stretch;
}

.startup-otp-header-text {
  align-self: stretch;
  color: var(--Neutral-600, #5b5d6e);

  /* Paragraph 01/P1 */
  font-family: Roboto;
  font-size: 0.7rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  /* 1.5rem */
  max-width: 100%;
  word-wrap: break-word;
}

.otp-input-group {
  display: flex;
  width: 100%;
  align-items: flex-start;
  gap: var(--space-8px, 8px);
  width: 100%;
}

.otp-input {
  display: flex;
  padding: 20px 12px;
  justify-content: center;
  align-items: center;
  gap: var(--space-8px, 8px);
  flex: 1 0 0;
  align-self: stretch;
  border-radius: var(--space-8px, 8px);
  background: var(--Neutral-50, #f7f7f8);
  width: 25%;
  text-align: center;
  color: var(--Neutral-950, #0C0C0E);
  text-align: center;

  /* Paragraph 02/P2 */
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  /* 19.6px */
}

.otp-input-red {
  border-radius: 8px;
  border: 1px solid var(--Error-600, #E23636);
  background: var(--Neutral-50, #F7F7F8);

  display: flex;
  padding: 20px 12px;
  justify-content: center;
  align-items: center;
  gap: var(--space-8px, 8px);
  flex: 1 0 0;
  align-self: stretch;
  width: 25%;
  text-align: center;
  color: var(--Neutral-950, #0C0C0E);
  text-align: center;

  /* Paragraph 02/P2 */
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  /* 19.6px */
}

.otp-incorrect-text {
  color: var(--Error-600, #E23636);

  /* Paragraph 03/P1 */
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  /* 16.8px */
  max-width: 200px;
  word-wrap: break-word;
}

.otp-timer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

.otp-timer-text {
  color: var(--Neutral-950, #0c0c0e);

  /* Paragraph 03/P2 */
  font-family: Roboto;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
}

.otp-timer-text-red {
  color: var(--Error-600, #e23636);

  /* Paragraph 03/P2 */
  font-family: Roboto;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
}

.otp-resend-text {
  color: var(--Neutral-300, #b6b7c3);

  /* Paragraph 03/P2 */
  font-family: Roboto;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  /* 1.05rem */
}

.otp-resend-text-active {
  color: var(--secondary-electric-violet-600, #603ff4);

  /* Paragraph 03/P2 */
  font-family: Roboto;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  /* 1.05rem */
  cursor: pointer;
  user-select: none;
}

.st-otp-icon {
  cursor: pointer;
  user-select: none;
}

.startup-button {
  display: inline-flex;
  padding: 14px;
  justify-content: center;
  align-items: center;
  gap: var(--space-8px, 8px);
  border-radius: var(--space-8px, 8px);
  background: var(--primary-bitter-lemon-500, #cfe600);
  cursor: pointer;
  user-select: none;
  color: var(--Neutral-950, #0C0C0E);
  text-align: center;
  opacity: 0.5;

  /* Paragraph 01/P2 */
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  /* 24px */
  outline: none;
  border: none;
  width: 100%;
}

.startup-button-active {
  display: inline-flex;
  padding: 14px;
  justify-content: center;
  align-items: center;
  gap: var(--space-8px, 8px);
  border-radius: var(--space-8px, 8px);
  background: var(--primary-bitter-lemon-500, #cfe600);
  cursor: pointer;
  user-select: none;
  color: var(--Neutral-950, #0C0C0E);
  text-align: center;

  /* Paragraph 01/P2 */
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  /* 24px */
  outline: none;
  border: none;
  width: 100%;
}

.otp-input[type="password"] {
  font-weight: 900;
}

.startup-button-click {
  border-radius: var(--space-8px, 8px);
  border: 1px solid var(--Neutral-950, #0c0c0e);
  cursor: pointer;
  user-select: none;

  display: inline-flex;
  padding: 14px;
  justify-content: center;
  align-items: center;
  gap: var(--space-8px, 8px);
  color: var(--Neutral-950, #0C0C0E);
  text-align: center;

  /* Paragraph 01/P2 */
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  /* 24px */
  outline: none;
  width: 100%;
  background: transparent;
}

.pin-input-container-text {
  color: var(--Neutral-600, #5B5D6E);

  /* Paragraph 02/P1 */
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  /* 21px */
}

.st-button-text {
  color: var(--Neutral-950, #0c0c0e);
  text-align: center;

  /* Paragraph 01/P2 */
  font-family: Roboto;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  /* 1.5rem */
}

.startup-slider {
  display: flex;
  width: 335px;
  align-items: center;
  gap: 12px;
  border-radius: 4px;
  width: 100%;
}

.startup-slider-line {
  height: 4px;
  flex-shrink: 0;
  border-radius: var(--space-8px, 8px);
  background: var(--Neutral-100, #eeeef0);
}

.startup-slider-line-active {
  height: 4px;
  flex: 1 0 0;
  border-radius: var(--space-8px, 8px);
  background: var(--secondary-electric-violet-600, #603ff4);
}



.startup-contact {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  width: 100%;

}

.startup-contact-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
}

.startup-contact-text {
  color: var(--Neutral-950, #0c0c0e);

  /* Heading/H2 */
  font-family: Roboto;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  /* 1.5rem */
  align-self: stretch;

  max-width: 100%;
  word-wrap: break-word;
}


.st-contact-content-container {
  display: flex;
  align-items: flex-start;
  gap: var(--space-8px, 8px);
  width: 100%;
}







.st-contact-dropdown {
  cursor: pointer;
  user-select: none;
}

.st-contact-second-section {
  display: flex;
  width: 100%;
  height: 44px;
  padding-left: 6px;
  align-items: center;
  border-radius: var(--space-8px, 8px);
  background: var(--Neutral-50, #f7f7f8);
  color: var(--Neutral-950, #0C0C0E);

  /* Paragraph 02/P1 */
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  /* 21px */
}

.st-contact-second-section::placeholder {
  color: var(--Neutral-300, #b6b7c3);

  /* Paragraph 02/P1 */
  font-family: Roboto;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  /* 1.3125rem */
}

.startup-contact-footer {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  width: 100%;
  margin-top: 16px;
}

.st-contact-footer-first-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
  width: 100%;
}

.st-contact-footer-second-section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  width: 100%;
}



.st-contact-input-error {
  display: flex;
  align-items: center;
  gap: 4px;
}

.input-error-text {
  color: var(--Error-600, #e23636);

  /* Paragraph 03/P1 */
  font-family: Roboto;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  /* 1.05rem */
  margin: 0;
}

.mobille-startup-search-box-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 6px;
  width: 100%;
}

.mobile-startup-search-box {
  display: flex;
  height: 40px;
  align-items: center;
  gap: 6px;
  border-radius: 6px;
  border: 1px solid var(--Neutral-200, #d8d9df);
  background: var(--Neutral-50, #f7f7f8);
  width: 100%;
  overflow: hidden;
}

.ms-search-box-content {
  height: 100%;
  width: 100%;
  background: transparent;
  color: var(--Neutral-950, #0c0c0e);

  /* Paragraph 02/P1 */
  font-family: Roboto;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  /* 1.3125rem */
}

.ms-search-box-content::placeholder {
  color: var(--Neutral-400, #8f91a1);

  /* Paragraph 02/P1 */
  font-family: Roboto;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  /* 1.3125rem */
}

.mobile-startup-search-content {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  border-radius: var(--space-8px, 8px);
  border: 1px solid var(--Neutral-50, #f7f7f8);
  background: var(--common-white_states-main, #fff);
}

.ms-search-content-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;

  overflow-x: hidden;
  overflow-y: auto;
}

.ms-search-content {
  display: flex;
  padding: var(--space-8px, 8px);
  align-items: center;
  gap: 19px;
  align-self: stretch;
  cursor: pointer;
  user-select: none;
  height: 34px;
  margin-bottom: 5px;
  border: 1px solid transparent;
}

.ms-search-content-active {
  display: flex;
  padding: var(--space-8px, 8px);
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  border-radius: 6px;
  background: var(--Success-50, #f1f8ed);
  cursor: pointer;
  user-select: none;
}

.ms-search-content-text-container {
  display: flex;
  align-items: center;
  gap: 19px;
}

.ms-search-content-icon {
  display: flex;
  width: 28px;
  height: 28px;
  justify-content: center;
  align-items: center;
  border-radius: 24px;
  border: 1px solid rgba(0, 0, 0, 0.05);
  background: var(--common-white_states-main, #fff);
  box-shadow: 0px 1px 4px 0px #eee;
}

.ms-search-content-text {
  color: var(--Neutral-950, #0c0c0e);

  /* Paragraph 02/P1 */
  font-family: Roboto;
  font-size: 0.775rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  /* 1.3125rem */
}

.terms-and-condition {
  color: var(--Neutral-400, #8f91a1);

  /* Paragraph 03/P1 */
  font-family: Roboto;
  font-size: 0.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  /* 1.05rem */
  /* width: 335px; */
}

.privacy {
  display: flex;
  align-items: center;
  gap: 4px;
  margin-bottom: 20px;
}

.privacy-text {
  color: var(--Neutral-800, #40414c);
  font-family: Roboto;
  font-size: 0.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25rem;
  /* 166.667% */
  letter-spacing: 0.01563rem;
}

.p-p-payment-portal-amount-info-separator {
  display: flex;
  align-items: center;
  gap: 6px;
  align-self: stretch;
  justify-content: center;
}

.p-p-payment-portal-line {
  width: 50%;
  height: 1px;
  background: #eeeef0;
}

.p-payment-portal-separator-text {
  color: var(--Neutral-700, #4a4a5a);

  /* Paragraph 03/P1 */
  font-family: Roboto;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  /* 1.05rem */
  opacity: 0.6;
}






.startup-otp-footer {
  display: flex;
  align-items: center;
  gap: 4px;
  width: 100%;
  overflow: hidden;
}

.startup-otp-footer-text {
  color: var(--Neutral-950, #0c0c0e);

  /* Sub Heading/SH1 */
  font-family: Manrope;
  font-size: 0.8rem;
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
  /* 1rem */
  max-width: 100%;
  word-wrap: break-word;
}

.otp-input-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 6px;
  width: 100%;
}

.general-web-toast-error {
  display: flex;
  align-items: center;
  gap: 12px;
}

.general-web-toast-error-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  padding: 6px;
}

.general-web-toast-error-title {
  margin: 0;
  color: var(--Neutral-950, #0c0c0e);

  /* Sub Heading/SH1 */
  font-family: Manrope;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
  /* 1rem */
  align-self: stretch;
}

.general-web-toast-error-label {
  align-self: stretch;
  color: var(--Neutral-400, #8f91a1);

  /* Paragraph 02/P1 */
  font-family: Roboto;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  /* 1.3125rem */
  margin: 0;
}


.general-web-toast-success {
  display: flex;
  padding: 12px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  border-radius: 8px;
  background: var(--Success-50, #f1f8ed);
  width: 100%;
  height: 55px;
  max-height: 55px;
}

.general-web-toast-success-cont {
  display: flex;
  align-items: center;
  gap: 12px;
  width: 100%;
}

.general-web-toast-success-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  padding: 6px;
}

.general-web-toast-success-link {
  display: flex;
  align-items: center;
}

.general-web-toast-success-link-text {
  color: var(--secondary-electric-violet-600, #603ff4);
  font-family: Roboto;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  /* 1.3125rem */
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: none;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
}

.success-popup-content-container {
  display: flex;
  width: 28.4375%;
  padding: 24px;
  flex-direction: column;
  align-items: center;
  background: var(--common-white_states-main, #fff);
  box-shadow: 0px 4px 19px 0px rgba(0, 0, 0, 0.12);
  height: 100%;
}

.success-popup-content {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.success-popup-content-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  align-self: stretch;
}

.success-popup-content-text-header {
  color: var(--Neutral-950, #0c0c0e);
  text-align: center;
  font-family: Manrope;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 800;
  line-height: 140%;
  /* 2.1rem */
}

.success-popup-content-text-footer {
  color: var(--Neutral-600, #5b5d6e);
  text-align: center;

  /* Paragraph 01/P1 */
  font-family: Roboto;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  /* 1.5rem */
}

.add-cosigner-body-icon {
  width: 90%;
  max-width: 90%;
  max-height: 250px;
  height: 250px;
}

.add-cosigner-body {
  display: inline-flex;
  padding: 10px;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  border-radius: 8px;
  background: var(--secondary-electric-violet-50, #ECEFFF);
}

.add-cosigner-body-text-cont {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.add-cosigner-body-text-icon {
  display: flex;
  padding: 8px;
  align-items: center;
  gap: 10px;
  border-radius: 24px;
  background: var(--secondary-electric-violet-200, #C2C7FF);
  overflow: hidden;
  justify-content: center;
  width: 20px;
  height: 20px;
}

.add-cosigner-body-text-label {
  width: 76.1%;
  color: var(--Neutral-600, #5B5D6E);

  /* Paragraph 02/P1 */
  font-family: Roboto;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  /* 21px */
}

.add-cosigner-body-text-label-bold {
  color: var(--Neutral-950, #0C0C0E);

  /* Paragraph 02/P2 */
  font-family: Roboto;
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
}

.add-cosigner-buttons-cont {
  display: inline-flex;
  padding: 10px;
  align-items: flex-start;
  gap: 10px;
  background: transparent;
  display: flex;
  justify-content: space-between;
}

.add-cosigner-button-neut {
  width: 45%;
  display: flex;
  padding: 14px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  background: transparent;
  border-radius: 8px;
  border: 1px solid var(--Neutral-950, #0C0C0E);
  color: var(--Neutral-950, #0C0C0E);
  text-align: center;

  /* Paragraph 01/P2 */
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  /* 24px */
  cursor: pointer;
}

.add-cosigner-button-action {
  width: 45%;
  display: flex;
  padding: 14px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  background: var(--primary-bitter-lemon-500, #CFE600);
  border: none;
  color: var(--Neutral-950, #0C0C0E);
  text-align: center;

  /* Paragraph 01/P2 */
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  /* 24px */
  cursor: pointer;
}

.add-cosigner-more-body {
  display: inline-flex;
  padding: 15px;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  border-radius: 8px;
  background: var(--secondary-electric-violet-50, #ECEFFF);
}

.add-cosigner-more-header-cont {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
}

.add-cosigner-more-title-cont {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
}

.add-cosigner-header-text {
  align-self: stretch;
  color: var(--Neutral-600, #5B5D6E);

  /* Paragraph 01/P1 */
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  /* 24px */
  margin: 0;
}

.add-cosigner-more-title {
  color: var(--Neutral-950, #0C0C0E);

  /* Heading/H4 */
  font-family: Manrope;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  /* 24px */
  margin: 0;
}

.add-cosigner-more-label {
  color: var(--Neutral-700, #4A4A5A);

  /* Paragraph 02/P1 */
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  /* 21px */

}

.add-cosigner-more-label-link {
  align-self: stretch;
  color: var(--secondary-electric-violet-700, #4E2BD7);
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  /* 21px */
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: none;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
  cursor: pointer;
  margin: 0;

}

.add-cosigner-header-info-cont {
  display: flex;
  padding: 10px;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  align-self: stretch;
  border-radius: 8px;
  background: var(--Accent-100, #FFF9C1);
}

.add-cosigner-header-info-text {
  color: var(--Accent-800, #89490A);

  /* Caption/C1 */
  font-family: Roboto;
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
}

.add-cosigner-header-info-text-bold {
  color: var(--Accent-800, #89490A);

  /* Caption/C2 */
  font-family: Roboto;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
  /* 16.8px */
}

.add-cosigner-step2-body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  margin-top: 20px;
}

.add-cosigner-step2-body-header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.add-cosigner-step2-body-header-first-text {
  color: var(--Neutral-950, #0C0C0E);
  text-align: right;

  /* Paragraph 01/P2 */
  font-family: Roboto;
  font-size: 0.8rem;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  /* 24px */
}

.add-cosigner-step2-body-header-second-text {
  color: var(--Neutral-950, #0C0C0E);
  text-align: right;

  /* Paragraph 03/P2 */
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  /* 16.8px */
}

.add-cosigner-step2-body-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  width: 100%;
}

.add-cosigner-step2-body-content-header {
  display: flex;
  padding-top: 14px;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  flex-direction: column;
}

.add-cosigner-step2-body-content-header-cont {
  display: flex;
  width: 100%;
  padding: 12px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}

.add-cosigner-step2-body-content-header-label {
  display: flex;
  padding: 4px 6px;
  align-items: flex-start;
  gap: 10px;
  position: absolute;
  left: 12px;
  top: -14px;
  border-radius: 6px;
  background: var(--secondary-electric-violet-100, #DDE1FF);
}

.add-cosigner-step2-body-content-header-label-text {
  color: var(--secondary-electric-violet-900, #362689);

  /* Paragraph 04/P2 */
  font-family: Roboto;
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  /* 14px */
  margin: 0;
}

.add-cosigner-step2-body-content-header-body {
  display: flex;
  justify-content: space-between;
  align-self: stretch;
  border-radius: 8px;
  border: 1px solid var(--Neutral-100, #EEEEF0);
  background: var(--Neutral-50, #F7F7F8);
  position: relative;
  display: flex;
  padding: 12px;
  align-items: flex-start;
  gap: 16px;
}

.a-c-2-b-content-header-body-header-cont {
  display: flex;
  align-items: center;
  gap: 12px;
}

.a-c-2-b-content-header-body-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 6px;
}

.a-c-2-b-content-header-body-title {
  color: var(--Neutral-950, #0C0C0E);

  /* Paragraph 01/P2 */
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  /* 24px */
  margin: 0;
  max-width: 150px;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.a-c-2-b-content-header-body-label {
  color: var(--Neutral-400, #8F91A1);

  /* Paragraph 03/P2 */
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  /* 16.8px */
  margin: 0;
  max-width: 150px;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.a-c-2-b-content-header-body-button {
  display: flex;
  padding: 5.5px 8px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 6px;
  border: 1px solid var(--secondary-electric-violet-600, #603FF4);
  background: var(--secondary-electric-violet-600, #603FF4);
  color: var(--secondary-electric-violet-50, #ECEFFF);
  text-align: right;

  /* Paragraph 02/P2 */
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  /* 19.6px */
}

.add-cosigner-step2-body-content-footer {
  display: flex;
  align-items: center;
  gap: 4px;
  cursor: pointer;
}

.add-cosigner-step2-body-content-footer-text {
  color: var(--secondary-electric-violet-600, #603FF4);
  text-align: right;

  /* Paragraph 01/P2 */
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  /* 24px */
}

.add-cosigner-step2-add-more-body {
  display: flex;
  padding: 15px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  border-radius: 8px;
  border: 1px solid var(--Neutral-200, #D8D9DF);
  min-width: 90%;
  margin-bottom: 20px;
}

.add-cosigner-step2-add-more-first {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  width: 100%;
}

.add-cosigner-step2-add-more-first-header {
  display: flex;
  align-items: flex-end;
  gap: 5px;
}

.add-cosigner-step2-add-more-first-header-text {
  color: var(--Neutral-950, #0C0C0E);

  /* Paragraph 01/P2 */
  font-family: Roboto;
  font-size: 0.7rem;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  /* 24px */
}

.add-cosigner-step2-add-more-first-footer {
  display: flex;
  padding: 4px 6px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 6px;
  background: var(--secondary-electric-violet-100, #DDE1FF);
}

.add-cosigner-step2-add-more-first-footer-text {
  color: var(--secondary-electric-violet-900, #362689);

  /* Paragraph 03/P2 */
  font-family: Roboto;
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  /* 16.8px */
  margin: 0;
}

.add-cosigner-step2-add-more-second {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  width: 100%;
}

.add-cosigner-step2-add-more-second-input {
  display: flex;
  padding: 12px;
  align-items: center;
  gap: 182px;
  align-self: stretch;
  border-radius: 8px;
  background: var(--Neutral-50, #F7F7F8);

  color: var(--Neutral-950, #0C0C0E);

  /* Paragraph 02/P1 */
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  /* 21px */
}

.add-cosigner-step2-add-more-third {
  display: flex;
  align-items: flex-start;
  gap: 24px;
  width: 100%;
}

.add-cosigner-step2-add-more-third-cont {
  display: flex;
  align-items: center;
  gap: 4px;
}

.add-cosigner-step2-add-more-third-cont-text {
  color: var(--Neutral-900, #383842);

  /* Paragraph 02/P1 */
  font-family: Roboto;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  /* 21px */
}

.add-cosigner-step2-add-more-buttons {
  display: flex;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
  width: 100%;
  background: transparent;
}

.add-cosigner-step2-add-more-buttons-neut {
  width: 50%;
  display: flex;
  padding: 7.5px 12px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex: 1 0 0;
  border-radius: 8px;
  border: 1px solid var(--secondary-electric-violet-600, #603FF4);
  color: var(--secondary-electric-violet-600, #603FF4);
  text-align: right;

  /* Paragraph 02/P2 */
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  /* 19.6px */
  background: transparent;
  cursor: pointer;
}

.add-cosigner-step2-add-more-buttons-action {
  width: 50%;
  display: flex;
  padding: 6px 8px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex: 1 0 0;
  align-self: stretch;
  border-radius: 8px;
  border: 1px solid var(--secondary-electric-violet-600, #603FF4);
  background: var(--secondary-electric-violet-600, #603FF4);
  color: var(--secondary-electric-violet-50, #ECEFFF);
  text-align: right;

  /* Paragraph 02/P2 */
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  /* 19.6px */
  cursor: pointer;
}

.add-cosigner-step2-add-more-second-input::placeholder {
  color: var(--Neutral-300, #B6B7C3);


  /* Paragraph 02/P1 */
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  /* 21px */
}

.add-cosigner-confirm-body-content {
  display: flex;
  padding-top: 20px;
  padding-bottom: 20px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 61px;
  border-radius: 8px 8px 0px 0px;
  background: var(--Neutral-White-100, #FFF);
  width: 100%;
  max-height: 62.7%;
}

.add-cosigner-confirm-body-cont {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  width: 90%;

}

.add-cosigner-confirm-body-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.add-cosigner-confirm-body-title {
  color: var(--Neutral-950, #0C0C0E);
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  /* 30px */
  margin: 0;
}

.add-cosigner-confirm-body-label {
  color: var(--Neutral-600, #5B5D6E);

  /* Paragraph 01/P1 */
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  /* 24px */
  margin: 0
}

.add-cosigner-confirm-body-footer {
  display: flex;
  width: 90%;
  padding: 15px 15px 5px 15px;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  border-radius: 8px;
  border: 1px solid var(--Neutral-100, #EEEEF0);
  background: var(--Neutral-White-100, #FFF);
}

.add-cosigner-confirm-body-footer-ind-cont {
  display: flex;
  width: 100%;
  flex-direction: row;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3px;
}

.add-cosigner-confirm-body-footer-ind {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: -6px;
  border-radius: 2px;
}

.add-cosigner-confirm-body-footer-ind-text-cont {
  display: flex;
  padding: 4px 12px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 6px;
  background: var(--secondary-electric-violet-600, #603FF4);
}

.add-cosigner-confirm-body-footer-ind-text {
  color: var(--Neutral-White-100, #FFF);
  text-align: center;

  /* Paragraph 03/P2 */
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  /* 16.8px */
  margin: 0;
}



.add-cosigner-confirm-body-footer-label-cont {
  width: 100%;
  height: 51px;
}

.add-cosigner-confirm-body-footer-label-slider-cont {
  width: 98%;
  height: 16px;
  flex-shrink: 0;
}

.add-cosigner-confirm-body-footer-label-slider {
  width: 100%;
  height: 5px;
  flex-shrink: 0;
  border-radius: 10px;
  background: var(--Neutral-100, #EEEEF0);
}

.add-cosigner-confirm-body-footer-label-slider-ind {
  height: 5px;
  flex-shrink: 0;
  border-radius: 10px;
  background: var(--secondary-electric-violet-600, #603FF4);
  position: relative;
}

.add-cosigner-confirm-body-footer-label-slider-icon {
  flex-shrink: 0;
  position: absolute;
  top: -5px;
  right: 0px;
}

.add-cosigner-confirm-body-footer-label-text-cont {
  display: flex;
  width: 100%;
  padding: 10px 0px;
  justify-content: space-between;
  align-items: center;
}

.add-cosigner-confirm-body-footer-label-text {
  color: var(--Neutral-950, #0C0C0E);

  /* Paragraph 02/P2 */
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  /* 19.6px */
  margin: 0;
  cursor: pointer;
}

.a-c-2-b-content-header-body-header-icons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 16px;
  margin-top: 10px;
}

.add-cosigner-step2-body-content-footer-dis {
  display: flex;
  align-items: center;
  gap: 4px;
  margin-bottom: 18px;
}

.add-cosigner-step2-body-content-footer-text-dis {
  color: var(--Neutral-300, #B6B7C3);
  text-align: right;

  /* Paragraph 01/P2 */
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  /* 24px */
}

.startup-contact-content-heder-cont {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.add-cosigner-confirm-body-content-outter {
  background: rgba(0, 0, 0, 0.40);
  z-index: 5;
  position: absolute;
  width: 100%;
  bottom: 0;
  right: 0;
  left: 0;
  height: 100%;
  display: flex;
  flex-direction: column-reverse;
}

.portfolio-page-content-header-button {
  display: flex;
  padding: 6px 12px;
  align-items: center;
  gap: 4px;
  border-radius: 32px;
  background: var(--secondary-electric-violet-900, #362689);
  cursor: pointer;
  color: var(--Neutral-White-100, var(--common-white_states-main, #fff));
  border: none;
  width: fit-content;
  max-width: 150px;
  /* Paragraph 03/P1 */
  font-family: Roboto;
  font-size: 0.65rem;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  /* 1.05rem */
  word-wrap: break-word;
  height: 30px;
}

.portfolio-page-content-header-button-cont {
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 4px;
  justify-content: flex-start;
  position: relative;
}

.portfolio-page-content-header-button-body {
  height: fit-content;
  width: fit-content;
  display: flex;
  flex-direction: column;
  gap: 4px;
  border: none;
  border-radius: 10px;
  background: var(--Neutral-50, #f7f7f8);
  ;
  padding: 10px;
  position: absolute;
  top: 33px;
  right: 0;
}

.portfolio-page-content-header-button-body-cont {
  background: none;
  cursor: pointer;
  border: 1px solid transparent;
  padding: 5px;
}

.portfolio-page-content-header-button-body-cont:hover {
  border: 1px solid #362689;
  background: transparent;
}

.portfolio-page-content-header-button-body-text {
  width: 110px;
  /* Paragraph 03/P1 */
  font-family: Roboto;
  font-size: 0.65rem;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  /* 1.05rem */
  word-wrap: break-word;
}